body {
  color: #272f3d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  margin:auto;
  overflow: auto !important;
  width: 90%;
}

header {
  background-color: #ecddce;
  color: gray;
}

header nav {
  float: right;
}

header nav li {
  padding: 20px;
}

main {
  background-color: #b4b28c;
  min-height: 600px;
  overflow: hidden;
}

legend {
  font-size: 1.3em;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: bold;
  padding-bottom: 20px;
  width: 100%;
}

h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

footer {
  background-color: #ecddce;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

footer p {
  display: inline-block;
}

canvas{
  background: #ecddce;
  margin: 90%;
}

a {
  color: #7a8aa8;
  text-decoration: none;
}

button {
  border: 2px solid black;
  border-radius: 5px;
  font-size: larger;
  width: 100%;
}

button:hover {
  background-color: #5063a1;
  border: 2px solid black;
  border-radius: 5px;
  color: #ecddce;
}

a:hover {
  color: #5063a1;
}

#totalAvatar {
 display: inline-block;
 padding-top: 10px;
}

#logo {
  display: inline-block;
  padding: 20px;
  text-align: center;
}

#logo img {
  width: 100%;
}

input[type=checkbox]:checked + span{
  text-decoration: line-through;
}

span + p {
  font-size: .7em;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

select {
  font-size: 1.3em;
}

#avatar {
  float: left;
  padding: 0px;
  text-align: center;
}

#avatar img {
  margin: 10px 0;
  padding: 20px;
  width: 100px;
}

#avatarLogo {
  width: 80%;
  margin:auto;
}

#slideimg1 {
  margin-left: -147px !important;
}

#quote {
  font-size: 1.4em;
  padding-bottom: 30px;
  text-align: center;
}

#dailies {
  background-color: #b9abaa;
  box-shadow: 5px 10px 5px #272f3d;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 43%;
}

#dailies .add label {
  display: inline-block; 
  padding-top: 10px;
  width: 90%;
}

#dailies .add input {
  border-radius: 15px;
  font-size: 1.3em;
  float:left;
  margin-right: 10px;
}

#todos {
  background-color: #b9abaa;
  box-shadow: 5px 10px 5px #272f3d; 
  float:right;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  width: 43%;
}

#todos .add input {
  border-radius: 15px;
  font-size: 1.3em;
  float:left;
  margin-right: 10px;
}

#todos .add label {
  display: inline-block; 
  padding-top: 10px;
}

#bigCharacter {
  display: inline;
}

#bigCharacter img {
  width: 50%;
}

#characterMarkUp {
  float: right;
  width: 50%;
}

#characterMarkUp th {
  font-size: 2em;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: left;
  width: 40%;
}

#characterMarkUp td {
  font-size: 1.5em;
  padding-bottom: 20px;
  padding-left: 20px;
}

#intakeModal {
  display: block;
  position: absolute;
  top: 10px;
  width: 90%;
}

#intakeModal .modal-content label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-top: 20px;
}

#intakeButton {
  font-size: 1.3em;
  margin-top: 20px;
}

#intakeModal p {
  padding: 20px;
}

#longTerm label {
  width: 100%;
}

#dailyWarning {
  color: #DD0000;
  display: none;
  font-family: 'Nothing You Could Do', cursive; 
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 4px;
}

#todoWarning {
  color: #DD0000;
  display: none;
  font-family: 'Nothing You Could Do', cursive; 
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 4px;
}

.clear {
  clear:both;
}

.modal {
  display: none;
  height: 100%; 
  left: 0;
  overflow: auto; 
  position: fixed; 
  top: 0;
  width: 100%; 
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  border: 2px solid #888;
  box-shadow: 5px 10px 5px #272f3d;
  clear: both;
  margin: auto;
  opacity: .9;
  padding: 20px;
  width: 80%;
}

.modal-content label {
  display: block;
  font-family: 'Nothing You Could Do', cursive; 
  font-size: 1.2em;
  padding-bottom: 10px;
  padding-top: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.slide {
  border: none; 
  opacity: 0;  
  -webkit-transition: opacity 2s linear;
  -moz-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
}
.showMe {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.hideMe {
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.forceShow {
  opacity: 1;
}
.forceHide {
  opacity: 0;
}
