body{
  background-color: lightgray;
  width: 60%;
  margin: auto;
}

table{
  border: 2px solid blue;
  padding: 1em;
  margin: 1em;
}

th {
  background-color: rgb(55, 56, 56);
  color: white;
  border: 2px solid red;
  padding: 1em;
  margin: 1em;
}

th:hover {
  background-color: white;
  color: black;
}

td {
  background-color: rgb(55, 56, 56);
  color: white;
  border: 2px solid orange;
  padding: 1em;
  margin: 1em;
}

td:hover {
  background-color: white;
  color: black;
}