canvas{
  border: 2px solid black;
}

h1{
  text-align: center;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 2em;
}
img{
  width: 30%;
  border: 4px solid gray;
  margin: 1em;
  padding: 1em;
  background-color: white;
}
#cat-container{
  background-color: lightgray;
  border: 4px solid black;
  border-radius: 10px;
  min-height: 335px;
  width: 80%;
  margin: auto;
  padding: 1em;
  text-align: center;
}

#cat-one {
  float: left;
}